```sql
/* ============================================================
   AcademyDB
   Complete Database Creation + Seed Data
   ============================================================ */

USE master;
GO

/* ============================================================
   1. DROP DATABASE IF IT EXISTS
   ============================================================ */

IF DB_ID('AcademyDB') IS NOT NULL
BEGIN
    ALTER DATABASE AcademyDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE AcademyDB;
END;
GO

/* ============================================================
   2. CREATE DATABASE
   ============================================================ */

CREATE DATABASE AcademyDB;
GO

USE AcademyDB;
GO

/* ============================================================
   3. CREATE USERS TABLE
   ============================================================ */

CREATE TABLE Users
(
    UserID INT IDENTITY(1,1) PRIMARY KEY,

    FullName NVARCHAR(100) NOT NULL,

    Email NVARCHAR(100) UNIQUE NOT NULL,

    PasswordHash NVARCHAR(255) NOT NULL,

    Role NVARCHAR(20) NOT NULL
        CHECK (Role IN ('Admin', 'Teacher', 'Student')),

    CreatedAt DATETIME NOT NULL
        DEFAULT GETDATE()
);
GO

/* ============================================================
   4. CREATE TEACHERS TABLE
   ============================================================ */

CREATE TABLE Teachers
(
    TeacherID INT IDENTITY(1,1) PRIMARY KEY,

    UserID INT UNIQUE NOT NULL,

    Specialization NVARCHAR(100),

    HireDate DATE DEFAULT GETDATE(),

    CONSTRAINT FK_Teachers_Users
        FOREIGN KEY (UserID)
        REFERENCES Users(UserID)
        ON DELETE CASCADE
);
GO

/* ============================================================
   5. CREATE STUDENTS TABLE
   ============================================================ */

CREATE TABLE Students
(
    StudentID INT IDENTITY(1,1) PRIMARY KEY,

    UserID INT UNIQUE NOT NULL,

    DateOfBirth DATE,

    Phone NVARCHAR(20),

    Address NVARCHAR(200),

    CONSTRAINT FK_Students_Users
        FOREIGN KEY (UserID)
        REFERENCES Users(UserID)
        ON DELETE CASCADE
);
GO

/* ============================================================
   6. CREATE COURSES TABLE
   ============================================================ */

CREATE TABLE Courses
(
    CourseID INT IDENTITY(1,1) PRIMARY KEY,

    CourseName NVARCHAR(100) NOT NULL,

    Description NVARCHAR(500),

    Credits INT
        CHECK (Credits > 0),

    TeacherID INT NOT NULL,

    CreatedAt DATETIME NOT NULL
        DEFAULT GETDATE(),

    CONSTRAINT FK_Courses_Teachers
        FOREIGN KEY (TeacherID)
        REFERENCES Teachers(TeacherID)
);
GO

/* ============================================================
   7. CREATE ENROLLMENTS TABLE
   ============================================================ */

CREATE TABLE Enrollments
(
    EnrollmentID INT IDENTITY(1,1) PRIMARY KEY,

    StudentID INT NOT NULL,

    CourseID INT NOT NULL,

    EnrollmentDate DATETIME NOT NULL
        DEFAULT GETDATE(),

    Grade DECIMAL(5,2)
        CHECK (Grade BETWEEN 0 AND 100),

    GradedAt DATETIME NULL,

    CONSTRAINT FK_Enrollments_Students
        FOREIGN KEY (StudentID)
        REFERENCES Students(StudentID)
        ON DELETE CASCADE,

    CONSTRAINT FK_Enrollments_Courses
        FOREIGN KEY (CourseID)
        REFERENCES Courses(CourseID)
        ON DELETE CASCADE,

    CONSTRAINT UQ_StudentCourse
        UNIQUE (StudentID, CourseID)
);
GO

/* ============================================================
   8. INSERT USERS
   ============================================================ */

GO

/* ============================================================
   9. INSERT TEACHERS
   ============================================================ */

INSERT INTO Teachers
(
    UserID,
    Specialization,
    HireDate
)
VALUES
(2,  'Software Engineering',    '2024-09-15'),
(3,  'Network Engineering',     '2023-10-01'),
(4,  'Python Development',      '2024-02-10'),
(5,  'Web Development',         '2023-09-20'),
(6,  'Database Systems',        '2022-11-05'),
(7,  'Cybersecurity',           '2024-01-15'),
(8,  'Data Analysis',           '2023-08-12'),
(9,  'Cloud Computing',         '2024-03-01'),
(10, 'Artificial Intelligence', '2023-12-10'),
(11, 'UI/UX & Frontend Design', '2024-05-20');
GO

/* ============================================================
   10. INSERT STUDENTS
   ============================================================ */

GO

/* ============================================================
   11. INSERT COURSES
   ============================================================ */

GO

/* ============================================================
   12. INSERT ENROLLMENTS
   ============================================================ */

;WITH StudentNumbers AS
(
    SELECT 1 AS StudentID

    UNION ALL

    SELECT StudentID + 1
    FROM StudentNumbers
    WHERE StudentID < 30
),
CourseNumbers AS
(
    SELECT 1 AS CourseID

    UNION ALL

    SELECT CourseID + 1
    FROM CourseNumbers
    WHERE CourseID < 10
),
SelectedEnrollments AS
(
    SELECT
        s.StudentID,
        c.CourseID
    FROM StudentNumbers s
    CROSS JOIN CourseNumbers c
    WHERE ((s.StudentID + c.CourseID) % 10) < 7
)
INSERT INTO Enrollments
(
    StudentID,
    CourseID,
    EnrollmentDate,
    Grade,
    GradedAt
)
SELECT
    StudentID,
    CourseID,

    DATEADD
    (
        DAY,
        ((StudentID * 3 + CourseID * 2) % 25),
        CAST('2026-09-04' AS DATETIME)
    ),

    CASE
        WHEN ((StudentID * 3 + CourseID) % 7) = 0
            THEN NULL

        ELSE
            CAST
            (
                60
                + ((StudentID * 11 + CourseID * 7) % 36)
                + CASE
                    WHEN ((StudentID + CourseID) % 4) = 0
                        THEN 0.50
                    ELSE 0
                  END
                AS DECIMAL(5,2)
            )
    END,

    CASE
        WHEN ((StudentID * 3 + CourseID) % 7) = 0
            THEN NULL

        ELSE
            DATEADD
            (
                DAY,
                7 + ((StudentID + CourseID) % 15),

                DATEADD
                (
                    DAY,
                    ((StudentID * 3 + CourseID * 2) % 25),
                    CAST('2026-09-04' AS DATETIME)
                )
            )
    END

FROM SelectedEnrollments
OPTION (MAXRECURSION 100);
GO

/* ============================================================
   13. VALIDATION
   ============================================================ */

SELECT 'Users' AS TableName, COUNT(*) AS RecordCount
FROM Users

UNION ALL

SELECT 'Teachers', COUNT(*)
FROM Teachers

UNION ALL

SELECT 'Students', COUNT(*)
FROM Students

UNION ALL

SELECT 'Courses', COUNT(*)
FROM Courses

UNION ALL

SELECT 'Enrollments', COUNT(*)
FROM Enrollments;
GO

/* ============================================================
   14. LOGIN ACCOUNTS
   ============================================================ */

SELECT
    UserID,
    FullName,
    Email,
    Role
FROM Users
ORDER BY UserID;
GO

/* ============================================================
   15. VERIFY STUDENTS
   ============================================================ */

SELECT
    s.StudentID,
    u.UserID,
    u.FullName,
    u.Email,
    s.DateOfBirth,
    s.Phone,
    s.Address
FROM Students s
INNER JOIN Users u
    ON s.UserID = u.UserID
ORDER BY s.StudentID;
GO

/* ============================================================
   16. VERIFY TEACHERS
   ============================================================ */

SELECT
    t.TeacherID,
    u.UserID,
    u.FullName,
    u.Email,
    t.Specialization,
    t.HireDate
FROM Teachers t
INNER JOIN Users u
    ON t.UserID = u.UserID
ORDER BY t.TeacherID;
GO

/* ============================================================
   17. VERIFY COURSES
   ============================================================ */

SELECT
    c.CourseID,
    c.CourseName,
    c.Description,
    c.Credits,
    c.CreatedAt,
    u.FullName AS TeacherName
FROM Courses c
INNER JOIN Teachers t
    ON c.TeacherID = t.TeacherID
INNER JOIN Users u
    ON t.UserID = u.UserID
ORDER BY c.CourseID;
GO

/* ============================================================
   18. VERIFY ENROLLMENTS
   ============================================================ */

SELECT
    e.EnrollmentID,
    u.FullName AS StudentName,
    c.CourseName,
    e.EnrollmentDate,
    e.Grade,
    e.GradedAt
FROM Enrollments e
INNER JOIN Students s
    ON e.StudentID = s.StudentID
INNER JOIN Users u
    ON s.UserID = u.UserID
INNER JOIN Courses c
    ON e.CourseID = c.CourseID
ORDER BY e.EnrollmentID;
GO

/* ============================================================
   19. GRADE SUMMARY
   ============================================================ */

SELECT
    u.FullName AS StudentName,
    COUNT(e.EnrollmentID) AS TotalCourses,
    AVG(e.Grade) AS AverageGrade,
    MAX(e.Grade) AS MaxGrade,
    MIN(e.Grade) AS MinGrade
FROM Enrollments e
INNER JOIN Students s
    ON e.StudentID = s.StudentID
INNER JOIN Users u
    ON s.UserID = u.UserID
GROUP BY u.FullName
ORDER BY AverageGrade DESC;
GO

/* ============================================================
   20. SUCCESS MESSAGE
   ============================================================ */

PRINT '==============================================';
PRINT 'AcademyDB CREATED SUCCESSFULLY';
PRINT '==============================================';

PRINT 'Total Users: ' +
      CAST((SELECT COUNT(*) FROM Users) AS NVARCHAR);

PRINT 'Total Teachers: ' +
      CAST((SELECT COUNT(*) FROM Teachers) AS NVARCHAR);

PRINT 'Total Students: ' +
      CAST((SELECT COUNT(*) FROM Students) AS NVARCHAR);

PRINT 'Total Courses: ' +
      CAST((SELECT COUNT(*) FROM Courses) AS NVARCHAR);

PRINT 'Total Enrollments: ' +
      CAST((SELECT COUNT(*) FROM Enrollments) AS NVARCHAR);

PRINT '==============================================';
PRINT 'SEED DATA INSERTED SUCCESSFULLY';
PRINT '==============================================';
GO
```
